
div{
    background-color: darkcyan;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

h1{
    background-color: coral;
    color: black;
    flex-basis: 18%;
    margin: 2px;
    flex-grow: 1;
}