

h1{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 10px;
}

div{
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
    padding: 30px;
    width:300px;
    flex-wrap: wrap;
}
