*{
    margin: 0;
    padding: 0;
}

.div1{
    height: 500px;
    width: 700px;
    margin: 5%;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2{
    height: 220px;
    width: 150px;
    background-color: black;
}

.div1 .div2 div{ 
    height: 1rem;
    width: auto;
    margin: 12%;
    background-color: orange;
    border-radius: 10px;
}